.custom-swal-container-class {
  z-index: 9999999999 !important;
}

.custom-swal-popup-class {
  /* Estilos para o popup */
  background-color: #008000; /* Verde escuro */
  border: 2px solid #fcdc58; /* Amarelo */
}

.custom-swal-header-class {
  /* Estilos para o cabeçalho */
  color: #ffffff; /* Branco */
}

.custom-swal-title-class {
  /* Estilos para o título */
  font-size: 24px; /* Tamanho da fonte */
}

.custom-swal-close-button-class {
  /* Estilos para o botão de fechar */
  color: #ffffff; /* Branco */
}

#app {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Define a altura total da página */
}

#app {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Define a altura total da página */
}

.header-component {
  height: 50px; /* Ajuste conforme necessário */
  background-color: #333; /* Cor de fundo do cabeçalho */
}

.main-container {
  display: flex;
  flex: 1; /* Ocupa todo o espaço restante */
}

.menu-component {
  width: 200px; /* Largura do menu */
  background-color: #555; /* Cor de fundo do menu */
}

.content {
  flex: 1; /* Ocupa todo o espaço restante */
  overflow-y: auto; /* Adiciona barra de rolagem vertical, se necessário */
}

